# 4-Oscar Prediction with AutoML
After out dataframe has been assemlbed (see scraping and table_assembling) notebooks we have the data we need to make predictions on the Best Picture winner. [AutoML](http://docs.h2o.ai/h2o/latest-stable/h2o-docs/automl.html) represents a quick, but powerful route though the Machine Learning process. H2O's AutoML runs many models through the dataset and using cross-validation, picks the best one. For my purposes I use it to confirm/compare to the Preferential Balloting Random Forest model I created.
If you are gunning to win your office's Oscar pool, scroll down to see the results.

In [1]:
import pandas as pd
import numpy as np
import h2o

# Machine Learning - Using h2o Auto ML

In [2]:
full_table = pd.read_csv('./data/processed_results/osc_df')

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.371-b11, mixed mode)
  Starting server from C:\Users\Aleksandra Czaplak\AppData\Roaming\Python\Python38\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\ALEKSA~1\AppData\Local\Temp\tmplskjmudb
  JVM stdout: C:\Users\ALEKSA~1\AppData\Local\Temp\tmplskjmudb\h2o_Aleksandra_Czaplak_started_from_python.out
  JVM stderr: C:\Users\ALEKSA~1\AppData\Local\Temp\tmplskjmudb\h2o_Aleksandra_Czaplak_started_from_python.err

C:\Users\Aleksandra Czaplak\AppData\Roaming\Python\Python38\site-packages\h2o\backend\server.py:386: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------------------
H2O_cluster_uptime:         07 secs
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.3
H2O_cluster_version_age:    1 month and 10 days
H2O_cluster_name:           H2O_from_python_Aleksandra_Czaplak_4by8tr
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    241.3 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.2 final
--------------------------  -----------------------------------------

First Year of Existance. This data will be used below
- golden_globes 1943
- pga 1989
- bafta 1960
- dga 1948
- sag 1995
- cannes 1970

In [4]:
# I pick a min_year where the awards shows will be relevant
min_year = 1995

# H2O's Auto ML

In [5]:
# Auto ML uses Cross Validation, so we do not specifiy a validation set
train = full_table.loc[((full_table['year'] < 2022) & (full_table['year'] >= min_year))]

print('training set contains:', train.shape[0], 'movies')

training set contains: 186 movies

In [8]:
train = train.drop('Unnamed: 0', axis=1)
train.columns

Index(['year', 'film', 'wiki', 'winner', 'nominations', 'Oscar_win',
       'nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga',
       'winner_dga', 'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes'],
      dtype='object')

In [9]:
print(type(train))

<class 'pandas.core.frame.DataFrame'>

In [10]:
from h2o.automl import H2OAutoML, get_leaderboard

# Import a sample binary outcome train/test set into H2O
train1 = h2o.H2OFrame(train)

# Identify predictors and response
predictors = ['year','nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga', 'winner_dga',
        'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes','nominations']

x = predictors
y = 'Oscar_win'

# For binary classification, response should be a factor
train1[y] = train1[y].asfactor()

# Run AutoML for 100 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=100, seed=1
                , keep_cross_validation_predictions= True
               , exclude_algos = ['StackedEnsemble'])

aml.train(x=x, y=y, training_frame=train1)

# AutoML Leaderboard
lb = aml.leaderboard

# Optionally edd extra model information to the leaderboard
lb = get_leaderboard(aml, extra_columns='ALL')

# Print all rows (instead of default 10 rows)
lb.head(rows=lb.nrows)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
AutoML progress: |
14:55:10.19: AutoML: XGBoost is not available; skipping it.
14:55:10.166: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]


14:55:11.407: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]
14:55:11.408: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 186.0.
14:55:11.419: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

██
14:55:12.619: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

█
14:55:13.338: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

█
14:55:13.966: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

██
14:55:14.603: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]
14:55:15.207: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

███
14:55:15.917: _train param, Dropping bad and constant columns: [winner_cannes, nom_cannes]

██████████████████████████████████████████████████████

In [8]:
top_model = aml.leader
top_model

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20200130_221603_model_32


Model Summary:

     number_of_trees
0              183.0

ModelMetricsBinomial: xgboost
** Reported on train data. **

MSE: 0.07864349634776278
RMSE: 0.28043447781569725
LogLoss: 0.2904010718951874
Mean Per-Class Error: 0.08749999999999991
AUC: 0.9583333333333334
AUCPR: 0.785851912395023
Gini: 0.9166666666666667

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3950708508491516:

              0     1   Error           Rate
0      0  130.0   5.0   0.037    (5.0/135.0)
1      1    6.0  18.0    0.25     (6.0/24.0)
2  Total  136.0  23.0  0.0692   (11.0/159.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value   idx
0                        max f1   0.395071    0.765957  21.0
1                        max f2   0.190715    0.839416  37.0
2                  max f0point5   0.540660    0.808824  10.0
3                  max accuracy   0.395071    0.930818  21.0
4                 max precision   0.579348    1.000000   0.0
5                    max recall   0.137821    1.000000  50.0
6               max specificity   0.579348    1.000000   0.0
7              max absolute_mcc   0.395071    0.725615  21.0
8    max min_per_class_accuracy   0.200891    0.866667  36.0
9   max mean_per_class_accuracy   0.190715    0.912500  37.0
10                      max tns   0.579348  135.000000   0.0
11                      max fns   0.579348   23.000000   0.0
12                      max fps   0.127659  135.000000  62.0
13                      max tps   0.137821   24.000000  50.0
14                      max tnr   0.579348    1.000000   0.0
15                      max fnr   0.579348    0.958333   0.0
16                      max fpr   0.127659    1.000000  62.0
17                      max tpr   0.137821    1.000000  50.0

Gains/Lift Table: Avg response rate: 15.09 %, avg score: 20.66 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.012579,0.575728,6.625000,6.625000,1.0000,0.577652,1.000000,0.577652,0.083333,0.083333,562.50000,562.500000
1,,2,0.025157,0.575448,6.625000,6.625000,1.0000,0.575514,1.000000,0.576583,0.083333,0.166667,562.50000,562.500000
2,,3,0.031447,0.573447,6.625000,6.625000,1.0000,0.575357,1.000000,0.576338,0.041667,0.208333,562.50000,562.500000
3,,4,0.044025,0.562926,6.625000,6.625000,1.0000,0.569441,1.000000,0.574367,0.083333,0.291667,562.50000,562.500000
4,,5,0.050314,0.547121,6.625000,6.625000,1.0000,0.556169,1.000000,0.572093,0.041667,0.333333,562.50000,562.500000
5,,6,0.100629,0.489320,4.140625,5.382812,0.6250,0.529377,0.812500,0.550735,0.208333,0.541667,314.06250,438.281250
6,,7,0.150943,0.393864,4.140625,4.968750,0.6250,0.428525,0.750000,0.509998,0.208333,0.750000,314.06250,396.875000
7,,8,0.201258,0.283238,1.656250,4.140625,0.2500,0.362570,0.625000,0.473141,0.083333,0.833333,65.62500,314.062500
8,,9,0.301887,0.187945,1.242188,3.174479,0.1875,0.200496,0.479167,0.382259,0.125000,0.958333,24.21875,217.447917
9,,10,0.402516,0.134404,0.414062,2.484375,0.0625,0.147325,0.375000,0.323526,0.041667,1.000000,-58.59375,148.437500
10,,11,0.679245,0.128084,0.000000,1.472222,0.0000,0.128161,0.222222,0.243933,0.000000,1.000000,-100.00000,47.222222
11,,12,1.000000,0.127659,0.000000,1.000000,0.0000,0.127659,0.150943,0.206637,0.000000,1.000000,-100.00000,0.000000

ModelMetricsBinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.10869907561597124
RMSE: 0.32969542856395695
LogLoss: 0.3614764358814088
Mean Per-Class Error: 0.124537037037037
AUC: 0.884567901234568
AUCPR: 0.406897908736144
Gini: 0.7691358024691359

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.32207661867141724:

              0     1   Error           Rate
0      0  123.0  12.0  0.0889   (12.0/135.0)
1      1    8.0  16.0  0.3333     (8.0/24.0)
2  Total  131.0  28.0  0.1258   (20.0/159.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value   idx
0                        max f1   0.322077    0.615385  18.0
1                        max f2   0.303347    0.782313  21.0
2                  max f0point5   0.322077    0.588235  18.0
3                  max accuracy   0.351293    0.874214  16.0
4                 max precision   0.583463    1.000000   0.0
5                    max recall   0.150674    1.000000  49.0
6               max specificity   0.583463    1.000000   0.0
7              max absolute_mcc   0.303347    0.575934  21.0
8    max min_per_class_accuracy   0.303347    0.792593  21.0
9   max mean_per_class_accuracy   0.303347    0.875463  21.0
10                      max tns   0.583463  135.000000   0.0
11                      max fns   0.583463   23.000000   0.0
12                      max fps   0.116664  135.000000  70.0
13                      max tps   0.150674   24.000000  49.0
14                      max tnr   0.583463    1.000000   0.0
15                      max fnr   0.583463    0.958333   0.0
16                      max fpr   0.116664    1.000000  70.0
17                      max tpr   0.150674    1.000000  49.0

Gains/Lift Table: Avg response rate: 15.09 %, avg score: 22.18 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.012579,0.572300,3.312500,3.312500,0.500000,0.583167,0.500000,0.583167,0.041667,0.041667,231.250000,231.250000
1,,2,0.025157,0.547586,0.000000,1.656250,0.000000,0.556765,0.250000,0.569966,0.000000,0.041667,-100.000000,65.625000
2,,3,0.031447,0.538334,0.000000,1.325000,0.000000,0.540764,0.200000,0.564126,0.000000,0.041667,-100.000000,32.500000
3,,4,0.044025,0.519089,3.312500,1.892857,0.500000,0.536546,0.285714,0.556246,0.041667,0.083333,231.250000,89.285714
4,,5,0.050314,0.457199,0.000000,1.656250,0.000000,0.483975,0.250000,0.547212,0.000000,0.083333,-100.000000,65.625000
5,,6,0.113208,0.353350,3.312500,2.576389,0.500000,0.401219,0.388889,0.466105,0.208333,0.291667,231.250000,157.638889
6,,7,0.163522,0.351293,6.625000,3.822115,1.000000,0.351293,0.576923,0.430778,0.333333,0.625000,562.500000,282.211538
7,,8,0.320755,0.303347,2.120000,2.987745,0.320000,0.306110,0.450980,0.369667,0.333333,0.958333,112.000000,198.774510
8,,9,0.402516,0.218466,0.000000,2.380859,0.000000,0.237066,0.359375,0.342732,0.000000,0.958333,-100.000000,138.085938
9,,10,0.534591,0.157106,0.000000,1.792647,0.000000,0.164592,0.270588,0.298721,0.000000,0.958333,-100.000000,79.264706
10,,11,0.622642,0.149780,0.473214,1.606061,0.071429,0.150587,0.242424,0.277773,0.041667,1.000000,-52.678571,60.606061
11,,12,0.698113,0.144069,0.000000,1.432432,0.000000,0.149361,0.216216,0.263890,0.000000,1.000000,-100.000000,43.243243
12,,13,0.817610,0.124662,0.000000,1.223077,0.000000,0.130714,0.184615,0.244426,0.000000,1.000000,-100.000000,22.307692
13,,14,0.899371,0.122491,0.000000,1.111888,0.000000,0.123988,0.167832,0.233477,0.000000,1.000000,-100.000000,11.188811
14,,15,1.000000,0.116664,0.000000,1.000000,0.000000,0.117067,0.150943,0.221763,0.000000,1.000000,-100.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.8875,0.09003038,0.78125,0.8125,0.9375,0.90625,1.0
1,auc,0.8724014,0.09534497,0.8055556,0.8064516,0.95,0.8,1.0
2,aucpr,0.2601506,0.29980978,0.7482639,0.071428575,0.33333334,0.14772727,0.0
3,err,0.1125,0.09003038,0.21875,0.1875,0.0625,0.09375,0.0
4,err_count,3.6,2.8809721,7.0,6.0,2.0,3.0,0.0
5,f0point5,0.5944418,0.3485882,0.88709676,0.1724138,0.5555556,0.35714287,1.0
6,f1,0.61505747,0.29621416,0.7586207,0.25,0.6666667,0.4,1.0
7,f2,0.68101496,0.2386768,0.6626506,0.45454547,0.8333333,0.45454547,1.0
8,lift_top_group,6.5555553,13.686525,1.7777778,0.0,0.0,0.0,31.0
9,logloss,0.36044943,0.23865479,0.77814555,0.31771538,0.21953076,0.28969845,0.19715707
10,max_per_class_error,0.22982079,0.21157269,0.3888889,0.19354838,0.06666667,0.5,0.0
11,mcc,0.6041401,0.27104282,0.63828474,0.3394221,0.68313,0.35986376,1.0
12,mean_per_class_accuracy,0.8784229,0.11689511,0.8055556,0.9032258,0.96666664,0.71666664,1.0
13,mean_per_class_error,0.12157706,0.11689511,0.19444445,0.09677419,0.033333335,0.28333333,0.0
14,mse,0.1082699,0.10367688,0.29083073,0.08565725,0.050291575,0.07453871,0.04003126
15,pr_auc,0.2601506,0.29980978,0.7482639,0.071428575,0.33333334,0.14772727,0.0
16,precision,0.5952381,0.39050522,1.0,0.14285715,0.5,0.33333334,1.0
17,r2,-0.48480245,0.7711384,-0.18178834,-1.8294523,0.14169048,-0.27212727,-0.28233477
18,recall,0.82222223,0.24658157,0.6111111,1.0,1.0,0.5,1.0
19,rmse,0.30586272,0.13563693,0.5392872,0.2926726,0.22425783,0.27301776,0.20007814

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2020-01-30 22:17:02,36.485 sec,0.0,0.500000,0.693147,0.500000,0.000000,1.000,0.849057
1,,2020-01-30 22:17:02,36.492 sec,5.0,0.481111,0.656050,0.882562,0.647821,6.625,0.088050
2,,2020-01-30 22:17:02,36.496 sec,10.0,0.463173,0.621973,0.911883,0.710444,6.625,0.094340
3,,2020-01-30 22:17:02,36.501 sec,15.0,0.446822,0.591754,0.917438,0.744178,6.625,0.075472
4,,2020-01-30 22:17:02,36.506 sec,20.0,0.431995,0.564939,0.912809,0.727756,6.625,0.081761
5,,2020-01-30 22:17:02,36.511 sec,25.0,0.417822,0.539771,0.913735,0.735334,6.625,0.081761
6,,2020-01-30 22:17:02,36.516 sec,30.0,0.405790,0.518654,0.919599,0.752560,6.625,0.081761
7,,2020-01-30 22:17:02,36.522 sec,35.0,0.394182,0.498472,0.919290,0.750756,6.625,0.081761
8,,2020-01-30 22:17:02,36.528 sec,40.0,0.383642,0.480286,0.920525,0.757818,6.625,0.075472
9,,2020-01-30 22:17:02,36.534 sec,45.0,0.374217,0.464044,0.920525,0.757818,6.625,0.075472
10,,2020-01-30 22:17:02,36.540 sec,50.0,0.366134,0.450075,0.920216,0.755158,6.625,0.075472
11,,2020-01-30 22:17:02,36.547 sec,55.0,0.358167,0.436335,0.920370,0.756349,6.625,0.075472
12,,2020-01-30 22:17:02,36.553 sec,60.0,0.351189,0.424246,0.919444,0.753540,6.625,0.081761
13,,2020-01-30 22:17:02,36.560 sec,65.0,0.344963,0.413352,0.935957,0.764871,6.625,0.075472
14,,2020-01-30 22:17:02,36.571 sec,70.0,0.339390,0.403552,0.935648,0.761612,6.625,0.081761
15,,2020-01-30 22:17:02,36.582 sec,75.0,0.334128,0.394222,0.937191,0.764170,6.625,0.075472
16,,2020-01-30 22:17:02,36.594 sec,80.0,0.329475,0.385865,0.937809,0.765383,6.625,0.075472
17,,2020-01-30 22:17:02,36.606 sec,85.0,0.324791,0.377478,0.937191,0.763185,6.625,0.081761
18,,2020-01-30 22:17:02,36.618 sec,90.0,0.320779,0.370115,0.937809,0.765383,6.625,0.075472
19,,2020-01-30 22:17:02,36.629 sec,95.0,0.317055,0.363257,0.953395,0.770929,6.625,0.075472

See the whole table with table.as_data_frame()

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0         winner_pga           151.066833           1.000000    0.445544
1         winner_dga           114.597305           0.758587    0.337983
2         winner_sag            29.370192           0.194419    0.086622
3        Nominations            19.300804           0.127763    0.056924
4               year             8.320313           0.055077    0.024539
5            nom_sag             6.095071           0.040347    0.017976
6       winner_bafta             4.053117           0.026830    0.011954
7    winner_gg_drama             2.857199           0.018913    0.008427
8          nom_bafta             2.735089           0.018105    0.008067
9            nom_dga             0.468218           0.003099    0.001381
10           nom_pga             0.122533           0.000811    0.000361
11  winner_gg_comedy             0.049229           0.000326    0.000145
12        nom_cannes             0.014549           0.000096    0.000043
13     nom_gg_comedy             0.008317           0.000055    0.000025
14      nom_gg_drama             0.003115           0.000021    0.000009

## Predict the winner

In [9]:
# Predict on 2019's films
test = full_table.loc[(full_table['year'] == 2019)]

# Import a binary outcome train/test set into H2O
test = h2o.H2OFrame(test)

# For binary classification, response should be a factor
test[y] = test[y].asfactor()

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [10]:
preds = top_model.predict(test)

preds

xgboost prediction progress: |████████████████████████████████████████████| 100%

predict,p0,p1
0,0.872341,0.127659
0,0.871212,0.128788
0,0.871916,0.128084
0,0.871639,0.128361
0,0.872341,0.127659
0,0.872341,0.127659
1,0.508026,0.491974
0,0.871212,0.128788
0,0.805078,0.194922

In [11]:
test['pred'] = preds['predict']
test['probA'] = preds['p1']
test_pd = test.as_data_frame(use_pandas=True)

In [12]:
final_rankings = test_pd[['film','probA']].sort_values('probA', ascending = False)
final_rankings['%_confidence'] = final_rankings['probA']/final_rankings['probA'].sum() * 100
final_rankings

                            film     probA  %_confidence
6               1917 (2019 film)  0.491974     31.061029
8           Parasite (2019 film)  0.194922     12.306475
1                   The Irishman  0.128788      8.131125
7  Once Upon a Time in Hollywood  0.128788      8.131125
3              Joker (2019 film)  0.128361      8.104137
2                    Jojo Rabbit  0.128084      8.086673
0                 Ford v Ferrari  0.127659      8.059812
4       Little Women (2019 film)  0.127659      8.059812
5                 Marriage Story  0.127659      8.059812

# And the Oscar goes to...

In [13]:
bp_winner = np.array(final_rankings.reset_index())[0][1].split('(')[0].strip()
print(f'And the Oscar goes to...\n🎉🏆{bp_winner}🏆🎉')

And the Oscar goes to...
🎉🏆1917🏆🎉